<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/signup.css">
    <title>Login</title>
</head>

<body>
    <form method="post" action="/user/login">
        <h1>Sign In</h1>

        <% if (locals.error) { %>
            <p id="errMsg"><%= error %></p>
        <% } %>

        <label for="email">Email</label>
        <input type="email" name="email" required>

        <label for="password">Password</label>
        <input type="password" name="password" required>

        <button type="submit">Login</button>
    </form>
</body>

</html>